beautifulsoup4==4.7.1
certifi==2019.3.9
chardet==3.0.4
Django==2.2.24
django-cors-headers==3.0.1
django-debug-toolbar==1.11
django-htmlmin==0.11.0
html5lib==1.0.1
idna==2.8
pyaes==1.6.1
pyasn1==0.4.5
pytz==2019.1
requests==2.22.0
rsa==4.0
sentry-sdk==0.9.0
six==1.12.0
soupsieve==1.9.1
sqlparse==0.3.0
Telethon-sync==1.1.1
urllib3==1.25.2
webencodings==0.5.1
